{% extends "bootstrap_5_layout.html" %}
{% set active_page = "reservations" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='reserve.css') }}">
{% endblock %}

{% block content %}

    <h1>Reserve a Study Room</h1>

    <div style="display: flex; align-items: center; margin-bottom: 20px;">
        <span style="margin-right: 10px; font-size: 18px; font-weight: bold;">Select a date:</span>
        <select id="date-select">
            {% for d in dates %}
                {% if d == selected_date %}
                    <option value="{{ d }}" selected>{{ d }}</option>
                {% else %}
                    <option value="{{ d }}">{{ d }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    </form>

    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Room</th>
                    <th scope="col">Times</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for room_num in range(schedule["data"] | length) %} <!--12 rooms-->
                <tr>
                    <td>
                        {{ schedule["date"] }}
                    </td>
                    <td>
                        {{room_num + 1}}
                    </td>
                    <td>
                        {% for time in schedule["data"][room_num].keys() %} <!--8 times-->
                            {% if schedule["data"][room_num][time] == ""%}
                                <button class="reserve-btn" style="margin: 5px; background-color: #041e42; color: white; border-radius: 5px;">{{ time }}</button>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        document.querySelectorAll(".reserve-btn").forEach(b => {
            b.addEventListener("click", (e) => {
                const time = e.target.textContent;
                let tr = e.target.parentNode.parentNode;
                const date = tr.children[0].textContent.trim();
                const roomNumber = tr.children[1].textContent.trim();
                console.log(`${time}, ${date}, ${roomNumber}`);
            });
            b.addEventListener("mouseover", () => {
                b.style.backgroundColor = "#63666A";
            });
            b.addEventListener("mouseout", () => {
                b.style.backgroundColor = "#041E42";
            })
        });

        const dateSelect = document.querySelector("#date-select");
        dateSelect.addEventListener("change", () => {
            window.location.href = `/user/reserve?date=${dateSelect.value}`;
        })

    </script>

{% endblock %}
